# Private keys and sensitive files
/xl*

# PHP
/php-obfuscator

# Node.js
**/node_modules
package-lock.json
.yarn/*.gz
.yarn/cache

# Composer (PHP)
**/vendor
/vendor/
*.lock

# Config & Dashboard
/config
/dashboard
/config.yaml
/_config.json
/.env
/.env.build.json
/.env.cjs
/_env.json
.vscode/sftp.json

# Assets & Static
/img
/bitnami.css
/applications.html
/webalizer
/public/static

# Miscellaneous
/xampp
/proxyChecker.txt
/cache/
*.cache
tmp/
*.txt
*.lnk
*.ink
*.log
*.spec
/*.pid
/proxyManager.js
/proxyFetcherSources.txt
/working.json
/status.json
/backups
/databases
/output
/error_logs
/log/
log/
.idea/material*
/.vs

# Python
/data/script/
/profiles-proxy.json
/profiles
/profiles.json
/build
/local_storage.json
/error_logs
__pycache__
.venv/
venv/
.conda/
/dist
*.egg-info
/src/nuitka
/src/undetected-chromedriver
/src/selenium-dolphin

# Coverage
coverage/
.coverage*
coverage.*
**/coverage/
**/.coverage*
**/coverage.*
!*coverage*.toml

# Node.js (Baileys)
**/baileys_*/

# Pyarmor
.pyarmor/

# Ignore all files ending with .out
*.out

# Ignore all files ending with .log
*.log

# Ignore all files ending with .spec
*.spec

# Ignore all files ending with .txt except specific ones
*.txt
!proxyFetcherSources.txt
!CIDR*.txt
!/.crontab.txt
!/adspower.txt
!/requirements-base.txt
!/requirements-dev.txt
/requirements.txt
!/robots.txt
/sitemap.txt

# Ignore all LICENSE files except those starting with LICENSE
!LICENSE*

# Ignore all .cache files and folders
.cache/
*.cache

# Ignore all hidden cache files
**/.*_cache

# Exceptions for .php.txt and .py.txt files
!**/*.php.txt
!**/*.py.txt
