/php-obfuscator
**/node_modules
**/vendor
/config
/dashboard
/img
/xampp
/bitnami.css
/applications.html
*.lock
/*.pid
/proxyChecker.txt
/webalizer
.cache/
*.cache
.yarn/*.gz
.yarn/cache
tmp/
*.txt
*.lnk
*.ink
!proxyFetcherSources.txt
!CIDR*.txt
/vendor/
/status.json
.vscode/sftp.json
!/robots.txt
/.env
/working.json
package-lock.json
/_config.json
/_env.json
!/.crontab.txt
/backups
!**/*.php.txt
!**/*.py.txt
/sitemap.txt
!LICENSE*
/app

# intellij idea
.idea/material*

# python
/data/script/
/profiles-proxy.json
!/adspower.txt
!/requirements_base.txt
/requirements.txt
/profiles
/profiles.json
/build
/local_storage.json
/output
/error_logs
__pycache__
.venv/
venv/
.conda/
/dist
*.egg-info
/.vs
/src/nuitka
/src/undetected-chromedriver
/src/selenium-dolphin
/config.yaml
*.out
/databases
/public/static
**/.*_cache
/xl*

# nodejs
**/baileys_*/
