[submodule "packages/proxy-checker-python"]
	path = packages/proxy-checker-python
	url = https://github.com/dimaslanjaka/proxy-checker-python.git
	branch = master
[submodule "packages/netscape-cookies"]
	path = packages/netscape-cookies
	url = https://github.com/dimaslanjaka/netscape-cookies.git
	branch = master
[submodule "packages/baileys"]
	path = packages/baileys
	url = https://github.com/dimaslanjaka/baileys-api.git
	branch = master
