/php-obfuscator
**/node_modules
**/vendor
/config
/dashboard
/img
/xampp
/bitnami.css
/applications.html
/xl*
*.lock
/proxyChecker.pid
/proxyChecker.txt
/webalizer
.cache/
.yarn/*.gz
tmp/
*.txt
*.lnk
*.ink
!proxyFetcherSources.txt
!CIDR*.txt
/vendor/
/status.json
_myConfig.js
.vscode/sftp.json
!/robots.txt

# python
/profiles-proxy.json
!/adspower.txt
!/requirements.txt
/profiles
/profiles.json
/build
/local_storage.json
/output
/error_logs
__pycache__
.venv/
.conda/
/dist
*.egg-info
/.vs
nuitka