Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignore access to specific file patterns
    <FilesMatch "(\.(env|gitignore|gitattributes|gitmodules|sqlite|git|htaccess)$)">
        Deny from all
    </FilesMatch>

    # Allow access to robots.txt and sitemap.txt
    RewriteRule ^(robots|sitemap)\.txt$ - [L]

    # Block access to all other text files by default
    RewriteRule \.txt$ - [F]

    # Set cache-control for 5 mins for working.json and status.json
    <FilesMatch "^(working|status)\.json$">
        Header set Cache-Control "public, max-age=300"
    </FilesMatch>

    # Disallow access to working.json
    <Files "working.json">
        Require all denied
    </Files>

    # Skip caching on .html files
    <FilesMatch "\.html$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </FilesMatch>
</IfModule>

# Allow access to sitemap.txt explicitly
<Files "sitemap.txt">
    Allow from all
</Files>

# Temporary directory restrictions
<If "%{HTTP_HOST} == 'sh.webmanajemen.com'">
    Redirect 404 /tmp
</If>

# Tests directory restrictions
<If "%{HTTP_HOST} == 'sh.webmanajemen.com'">
    Redirect 404 /tests
</If>

# Backups directory restrictions
<If "%{HTTP_HOST} == 'sh.webmanajemen.com'">
    Redirect 404 /backups
</If>

# Block access to github files
<FilesMatch "^\.git">
	Require all denied
</FilesMatch>