# disable directory listing
Options -Indexes

# Set the maximum allowed size of the client request body
LimitRequestBody 52428800

# ignore access to these file patterns
<FilesMatch "\.(env|gitignore|gitattributes|gitmodules|sqlite|git|htaccess)$">
    Deny from all
</FilesMatch>

# Allow access to robots.txt and sitemap.txt
<Files "robots.txt">
    Allow from all
    ErrorDocument 404 "Not Found"
    ErrorDocument 403 "Forbidden"
    ErrorLog /dev/null
    CustomLog /dev/null combined
</Files>

<Files "sitemap.txt">
    Allow from all
    ErrorDocument 404 "Not Found"
    ErrorDocument 403 "Forbidden"
    ErrorLog /dev/null
    CustomLog /dev/null combined
</Files>

# Restrict access to other .txt files
<FilesMatch "\.txt$">
    # Always allow these patterns
    <FilesMatch "^(robots|sitemap)\.txt$">
        ErrorDocument 200 "OK"
    </FilesMatch>

    # Validate Referer header
    # RewriteCond %{HTTP_REFERER} !webmanajemen\.com [NC]
    # RewriteRule .* - [F]

    # Allow access if the _ga cookie is present
    # RewriteCond %{HTTP_COOKIE} !_ga [NC]
    # RewriteRule .* - [F]

    # Allow CORS from specific origin
    # Header set Access-Control-Allow-Origin "https://webmanajemen.com"
    # Header set Access-Control-Allow-Methods "GET, OPTIONS"

    # Disallow text file access
    ErrorDocument 403 "Forbidden"
</FilesMatch>

# restrict python access
<FilesMatch "\.py$">
    ErrorDocument 403 "Forbidden"
</FilesMatch>

# Deny access to all .json files
<FilesMatch "\.json$">
    Deny from all
</FilesMatch>

# Allow access to status.json
<Files "status.json">
    Allow from all
    Header set Cache-Control "public, max-age=300"
</Files>

# Skip caching on html files
<FilesMatch "\.html$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>

# Temporary directory restrictions
<If "%{HTTP_HOST} == 'sh.webmanajemen.com'">
    Redirect 404 /tmp
</If>

# Tests directory restrictions
<If "%{HTTP_HOST} == 'sh.webmanajemen.com'">
    Redirect 404 /tests
</If>

# Allow access to .lock files in /tmp/
<FilesMatch "/tmp/.*\.lock$">
    Allow from all
</FilesMatch>
