# django @ https://github.com/django/django/archive/refs/tags/5.0.8.zip
# huey[backends]
# Include minimal requirements file (delegates commonly used runtime deps)
-r requirements-minimal.txt
ansi2html
autopep8
babel
black
chromedriver-autoinstaller @ https://github.com/yeongbin-jo/python-chromedriver-autoinstaller/archive/cd9d19512240f3c4b1833ce9f2e591f68d64d019.zip
daphne
datetime
django-cors-headers @ https://github.com/adamchainz/django-cors-headers/archive/81c98d989e6b710f341f8ab5961d415597617b76.zip
django-cors-middleware
django-environ
django-extensions
django-filter
django-phonenumber-field[phonenumbers]
# django==5.0.*
# django>=5.0,<5.1
djangorestframework
djangorestframework_simplejwt
geopy
gevent
html5lib
# huey==2.5.2
huey @ https://github.com/coleifer/huey/archive/5da909af52455ede879b42342891f7bfe4383a71.zip
ipaddress
joblib
maxminddb
oauthlib
Pillow
pycodestyle
pycurl
pyyaml
rarfile
requests_cache
selenium==4.*
six
sqlalchemy
urllib3
watchdog
webdriver-manager @ https://github.com/SergeyPirogov/webdriver_manager/archive/1c59212c6dae5335d2aead14b119307084b44293.zip
werkzeug
zstandard
paramiko
httpx
httpx-socks
