# django @ https://github.com/django/django/archive/refs/tags/5.0.8.zip
# huey[backends]
-e file:packages/proxy-checker-python
-e file:packages/proxy-hunter-python
-e file:packages/rsa-utility
ansi2html
autopep8
babel
beautifulsoup4
black
chromedriver-autoinstaller @ https://github.com/yeongbin-jo/python-chromedriver-autoinstaller/archive/master.zip
daphne
datetime
django-cors-headers @ https://github.com/adamchainz/django-cors-headers/archive/main.zip
django-cors-middleware
django-environ
django-extensions
django-filter
django==5.0.*
djangorestframework
djangorestframework_simplejwt
filelock
geoip2
geopy
gevent
html5lib
huey @ https://github.com/coleifer/huey/archive/master.zip
ipaddress
joblib
maxminddb
oauthlib
Pillow
pycodestyle
pycountry
pycryptodome
pycurl
python-dateutil
python-dotenv
pytz
pyyaml
rarfile
requests
requests_cache
selenium==4.*
six
sqlalchemy
timezonefinder --only-binary :all:
tzlocal
urllib3
watchdog
webdriver-manager @ https://github.com/SergeyPirogov/webdriver_manager/archive/master.zip
werkzeug
zstandard
