# proxy-checker @ git+https://github.com/dimaslanjaka/proxy-checker-python@master
-e file:packages/proxy-checker-python
-e file:packages/proxy-hunter-python
-e file:packages/rsa-utility
autopep8
babel
BeautifulSoup4
black
certifi
chromedriver_autoinstaller
django
django-cors-headers
django-cors-middleware
django-environ
django-extensions
django-filter
django-htmlmin
djangorestframework
djangorestframework_simplejwt
daphne
datetime
filelock
geoip2
geopy
gevent
html5lib
htmlmin
ipaddress
joblib
maxminddb
numpy
oauthlib
pyautogui
pycodestyle
pycountry
pycryptodome
pycurl
pynput
python-dateutil
python-dotenv
pytz
pyyaml
requests
requests_cache
rarfile
setuptools
six
sqlalchemy
tzlocal
urllib3
Werkzeug
webdriver-manager
zstandard
pyvirtualdisplay
huey[backends]
