# django @ https://github.com/django/django/archive/refs/tags/5.0.8.zip
# huey[backends]
-e file:packages/proxy-checker-python
-e file:packages/proxy-hunter-python
-e file:packages/rsa-utility
ansi2html
asyncio
autopep8
babel
beautifulsoup4
black
chromedriver-autoinstaller @ https://github.com/yeongbin-jo/python-chromedriver-autoinstaller/archive/cd9d19512240f3c4b1833ce9f2e591f68d64d019.zip
daphne
datetime
django-cors-headers @ https://github.com/adamchainz/django-cors-headers/archive/81c98d989e6b710f341f8ab5961d415597617b76.zip
django-cors-middleware
django-environ
django-extensions
django-filter
django==5.0.*
djangorestframework
djangorestframework_simplejwt
filelock
geoip2
geopy
gevent
html5lib
huey @ https://github.com/coleifer/huey/archive/5da909af52455ede879b42342891f7bfe4383a71.zip # ==2.5.2
ipaddress
joblib
maxminddb
numpy==2.1.0
oauthlib
Pillow
pycodestyle
pycountry==24.6.1
pycryptodome
pycurl==7.45.3
python-dateutil
python-dotenv
pytz
pyyaml
rarfile
requests
requests_cache
selenium==4.*
six
sqlalchemy
timezonefinder==6.0.1 --only-binary :all:
tzlocal
urllib3
watchdog
webdriver-manager @ https://github.com/SergeyPirogov/webdriver_manager/archive/1c59212c6dae5335d2aead14b119307084b44293.zip
werkzeug
zstandard
