<div class="container">
  <div class="flex justify-center mb-4">
    <div class="text-center">
      <img src="//tools.ip2location.com/468x60.png" border="0" width="468" height="60" />
    </div>
  </div>
  <div class="hidden md:grid md:grid-cols-3 lg:grid-cols-5 gap-4 mb-4">
    <a href="/proxy/result" class="hover:underline">Proxy Checker Submission</a>
    <a href="/proxy" class="hover:underline">Proxy List</a>
    <a href="/proxy?https=true" class="hover:underline">SSL/HTTPS Proxy List</a>
    <a href="/proxy?type=socks4" class="hover:underline">SOCKS4 Proxy List</a>
    <a href="/proxy?type=socks5" class="hover:underline">SOCKS5 Proxy List</a>
  </div>
</div>