[Unit]
Description=Huey worker daemon for Django application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/html
ExecStart=/var/www/html/assets/systemctl/start_huey.sh
Restart=always

[Install]
WantedBy=multi-user.target
