[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/var/run/php/php7.4-fpm.pid
ExecStart=/usr/local/php7.4/sbin/php-fpm -y /usr/local/php7.4/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
