{% extends "template.twig" %}

{% set site_title %}PHP Proxy Hunter{% endset %}
{% set page_title %}User Logs{% endset %}

{% block endhead %}{% endblock endhead %}

{% block body %}
  <div class="container mx-auto">
    <div class="mb-3">
      <button id="clear-logs-btn" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded flex items-center gap-2">
        <i class="fa fa-trash"></i> Clear Logs
      </button>
    </div>
    <div class="overflow-auto w-full" style="max-width:100%;">
      <div id="logs" class="whitespace-pre break-all min-w-full max-h-[500px]"></div>
    </div>
  </div>
{% endblock body %}

{% block endbody %}
  <script src="/public/php/js/template.js"></script>
  <script src="/public/php/js/user/logs.js"></script>
{% endblock endbody %}
