<nav class="w-full bg-white rounded-lg shadow-md dark:bg-gray-900 mb-5">
  <ul id="dashboard-menu" class="flex flex-row p-4 space-x-2 w-full"></ul>
  <script src="/public/php/js/_widget/dashboard-menu.js"></script>
</nav>