<nav class="w-full bg-white rounded-lg shadow-md dark:bg-gray-900 mb-5">
  <ul class="flex flex-row p-4 space-x-2 w-full">
    <li>
      <a href="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
        <i class="fa-duotone fa-gauge-high mr-2 text-gray-500"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/proxies" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
        <i class="fa-duotone fa-diagram-project mr-2 text-gray-500"></i>
        Proxies
      </a>
    </li>
    <li>
      <a href="/settings" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
        <i class="fa-duotone fa-sliders mr-2 text-gray-500"></i>
        Settings
      </a>
    </li>
  </ul>
</nav>