# Gradle / Android
.gradle/
**/build/
local.properties
.env
**/.cache/

# IDE
.idea/
*.iml

# Android Studio captures & native builds
captures/
.externalNativeBuild/
.cxx/

# Keystore / signing
*.jks
*.keystore
keystore.properties
google-service*.json

# Misc
.DS_Store
*.log
