name: Main CI

on:
  push:
  workflow_dispatch:
    inputs:
      max:
        description: "The maximum proxies to be checked."
        required: true
        default: "500"
        type: string
#  schedule:
    # Run every hour
#    - cron: "0 * * * *"

concurrency:
  # group: ${{ github.workflow }}-${{ github.event_name }}
  group: main-ci
  cancel-in-progress: false

jobs:
  check:
    if: contains(github.repository, 'proxy')
    permissions: read-all
    uses: dimaslanjaka/php-proxy-hunter/.github/workflows/checker.yml@master
    with:
      max: ${{ github.event.inputs.max || 500 }}
    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
